@import './variables.scss';

.btn {
    color: $primary;
    font-weight: 700;
    background-color: $secondary;
    padding: 8px 60px;
    text-decoration: none;
    box-shadow: $shadowSm;
    cursor: pointer;
}