---
import Logo from '../components/Logo.jsx';
import Background from '../components/Background.jsx';
const {animal} = Astro.props;
---
    
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Your random {animal}.</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global lang="scss">
		@import "../styles/global.scss";
	</style>
</head>
<body>
	<Logo />
	<div class="main-wrapper">
		<Background big={true}>
			<slot />
		</Background>
	</div>
</body>
</html>